Repository egormkn/egormkn.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: next-lint, stylelint

next-lint:
  name: next lint
  language: system
  entry: node scripts/next-lint.mjs

stylelint:
  name: stylelint
  language: system
  entry: npx --no -- stylelint --fix

feat: improve header
  .vscode/settings.json
  content/home.mdx
  messages/en.json
  messages/ru.json
  next.config.ts
  src/app/(default)/404/page.tsx
  src/app/(default)/about
  src/app/(default)/projects
  src/app/(default)/resume
  src/app/(i18n)/[locale]/about/page.tsx
  src/app/(i18n)/[locale]/layout.tsx
  src/app/(i18n)/[locale]/not-found.tsx
  src/app/(i18n)/[locale]/page.tsx
  src/app/(i18n)/[locale]/projects/page.tsx
  src/app/not-found.tsx
  src/components/back-button.tsx
  src/components/header-home-link.tsx
  src/components/header.tsx
  src/components/locale-switcher-select.tsx
  src/components/locale-switcher.tsx
  src/components/theme-switcher.tsx
  src/styles/globals.css
Due: next-lint, stylelint

feat: improve multi-root layout
  .vscode/settings.json
  content/home.mdx
  package-lock.json
  package.json
  prettier.config.mjs
  src/app/(default)/404/page.tsx
  src/app/(default)/about
  src/app/(default)/blog
  src/app/(default)/layout.tsx
  src/app/(default)/page.tsx
  src/app/(default)/projects
  src/app/(default)/resume
  src/app/(i18n)/[locale]/about/page.tsx
  src/app/(i18n)/[locale]/blog/page.tsx
  src/app/(i18n)/[locale]/layout.tsx
  src/app/(i18n)/[locale]/projects/page.tsx
  src/app/(i18n)/[locale]/resume/page.tsx
  src/app/[locale]/about/page.tsx
  src/app/[locale]/blog/[slug]/page.tsx
  src/app/[locale]/blog/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/[locale]/resume/page.tsx
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/components/back-button.tsx
  src/components/fonts.ts
  src/components/header-home-link.tsx
  src/components/header.tsx
  src/components/locale-switcher.tsx
  src/components/root-layout.tsx
  src/components/root-providers.tsx
  src/i18n/request.ts
  src/i18n/routing.ts
  src/styles/globals.css
Due: next-lint, stylelint

fix: make i18n work without js
  src/components/header.tsx
  src/components/locale-switcher.tsx
Due: next-lint

feat: add fullWidth flag for header and content
  src/app/[locale]/layout.tsx
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/components/content.tsx
  src/components/header.tsx
Due: next-lint

feat: use symlink for default locale
  content/home.mdx
  src/app/(default)/about
  src/app/(default)/blog
  src/app/(default)/layout.tsx
  src/app/(default)/page.tsx
  src/app/(default)/projects
  src/app/(default)/resume
  src/app/(en)
  src/app/[locale]/404/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.mdx
  src/app/[locale]/page.tsx
  src/components/content.tsx
  src/components/header-home-link.tsx
  src/components/header.tsx
  src/components/menu.tsx
  src/components/name.tsx
  src/styles/globals.css
Due: next-lint, stylelint

docs: add example to GitHub workflow
  .github/workflows/nextjs.yml
Due: none

ci: add eslint-plugin-react-hooks
  eslint.config.mjs
  package-lock.json
  package.json
Due: next-lint

feat: improve pdf fallback
  messages/en.json
  messages/ru.json
  src/app/[locale]/(full-content)/resume/page.tsx
  src/components/pdf-viewer-fallback.tsx
  src/components/pdf-viewer.tsx
Due: next-lint

Remove mobile html for pdf viewer
  messages/en.json
  messages/ru.json
  src/app/[locale]/(full-content)/resume/page.tsx
  src/components/pdf-viewer-fallback.tsx
  src/components/pdf-viewer.tsx
Due: next-lint

Rename mdx posts
  content/about.mdx
  content/test1.mdx
  content/test2.mdx
Due: none

Fix pdf fallback
  src/components/pdf-viewer-fallback.tsx
Due: next-lint

fix: remove demo text
  src/app/[locale]/(container)/page.mdx
Due: none

ci: update GitHub workflow
  .github/workflows/nextjs.yml
Due: none

ci: set node version to 26
  .github/workflows/nextjs.yml
Due: none

feat: use hosted pdf.js viewer as a fallback
  .github/workflows/nextjs.yml
  messages/en.json
  messages/ru.json
  public/.gitignore
  scripts/download-resume.sh
  src/components/pdf-viewer-fallback.tsx
Due: next-lint

refactor: extract mdx layouts to components
  src/mdx-components.tsx
Due: next-lint

feat: update main page
  messages/en.json
  messages/ru.json
  src/app/[locale]/(container)/page.mdx
Due: none

feat: add features to mdx
  content/test1.mdx
  next.config.ts
  package-lock.json
  package.json
  src/app/[locale]/(container)/blog/[slug]/page.tsx
  src/app/[locale]/(container)/blog/page.tsx
  src/app/[locale]/(full-content)/resume/page.tsx
  src/mdx-components.tsx
  src/styles/globals.css
Due: next-lint, stylelint

feat: add markdown plugins
  content/test1.mdx
  next.config.ts
  package-lock.json
  package.json
  src/styles/tailwind.css
Due: next-lint, stylelint

fix: hide dropdowns on menu click
  src/components/locale-switcher.tsx
  src/components/menu.tsx
Due: next-lint

feat: improve page rendering
  content/2026-06-30-pytorch-cheatsheet.en.mdx
  content/test.mdx
  content/test2.mdx
  messages/en.json
  messages/ru.json
  next.config.ts
  src/app/[locale]/(container)/blog/[slug]/page.tsx
  src/app/[locale]/(container)/blog/page.tsx
  src/app/[locale]/(container)/blog/posts.ts
  src/app/[locale]/(container)/page.mdx
  src/app/[locale]/(container)/page.tsx
  src/app/[locale]/layout.tsx
  src/components/header-home-link.tsx
  src/components/name.tsx
  src/mdx-components.tsx
Due: next-lint

ci: add GH_TOKEN variable
  .github/workflows/nextjs.yml
Due: none

ci: set NEXT_PUBLIC_URL
  .github/workflows/nextjs.yml
Due: none

Path conditions:
  next-lint: any of: \.([cm]?[jt]s|[jt]sx)$
  stylelint: any of: \.(css|scss|sass)$
