Repository egormkn/egormkn.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: next-lint, stylelint

next-lint:
  name: next lint
  language: system
  entry: node scripts/next-lint.mjs

stylelint:
  name: stylelint
  language: system
  entry: npx --no -- stylelint --fix

build: add Nextra v4
  next.config.ts
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.md
  src/app/page.tsx
  src/mdx-components.ts
Due: next-lint

refactor: move theme css to globals
  src/app/layout.tsx
  src/styles/globals.css
Due: next-lint, stylelint

build: add DaisyUI v5-beta
  package-lock.json
  package.json
  src/styles/tailwind.css
Due: stylelint

build: update dependencies
  package-lock.json
Due: none

fix: fix Nextra build
  next.config.ts
  src/app/page.mdx
Due: next-lint

ci: add generator_config_file for *.ts Next config
  .github/workflows/nextjs.yml
Due: none

build: add devcontainer configuration with Git, Node and Python
  .devcontainer/devcontainer.json
Due: none

ci: add dependabot config
  .github/dependabot.yml
Due: none

build: initialize project with create-next-app v16.2.9
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: next-lint, stylelint

ci: add editorconfig
  .editorconfig
Due: none

ci: add prettier
  .prettierignore
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
Due: next-lint

build: use workspace Typescript version
  .vscode/settings.json
Due: none

ci: add Stylelint
  package-lock.json
  package.json
  stylelint.config.mjs
Due: next-lint

ci: allow TailwindCSS rules for Stylelint
  stylelint.config.mjs
Due: next-lint

ci: add prettier plugin for TailwindCSS
  package-lock.json
  package.json
  prettier.config.mjs
Due: next-lint

ci: add prettier plugin for sorting imports
  package-lock.json
  package.json
  prettier.config.mjs
Due: next-lint

ci: add recommended extensions for VSCode
  .vscode/extensions.json
Due: none

ci: use Tailwind VSCode extension for CSS files
  .vscode/settings.json
Due: none

feat: add clsx
  package-lock.json
  package.json
  prettier.config.mjs
Due: next-lint

build: add TailwindCSS Typography plugin
  package-lock.json
  package.json
  src/app/globals.css
Due: stylelint

build: add TailwindCSS Forms plugin
  package-lock.json
  package.json
  src/app/globals.css
Due: stylelint

build: add FontAwesome
  package-lock.json
  package.json
  src/app/layout.tsx
Due: next-lint

refactor: move styles to src/styles/
  src/app/layout.tsx
  src/styles/fontawesome.css
  src/styles/globals.css
  src/styles/tailwind.css
Due: next-lint, stylelint

refactor: extract fonts configuration to fonts.ts
  src/app/fonts.ts
  src/app/layout.tsx
Due: next-lint

style: forbid trailing comma for json files
  prettier.config.mjs
Due: next-lint

build: use static export
  next.config.ts
Due: next-lint

ci: add GitHub Pages workflow
  .github/workflows/nextjs.yml
Due: none

ci: add GitHub Actions extension to recommendations
  .vscode/extensions.json
Due: none

ci: use string import notation for Stylelint
  stylelint.config.mjs
Due: next-lint

style: set postcss config type
  postcss.config.mjs
Due: next-lint

ci: add pre-commit config
  .pre-commit-config.yaml
Due: none

build: add DaisyUI
  package-lock.json
  package.json
  src/styles/tailwind.css
Due: stylelint

fix: DaisyUI Turbopack support
  package.json
Due: none

chore: add serve script
  package.json
Due: none

feat: add next-intl
  messages/en.json
  messages/ru.json
  next.config.ts
  package-lock.json
  package.json
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
Due: next-lint

feat: add mdx-based blog
  .vscode/extensions.json
  content/about.mdx
  content/main.mdx
  next.config.ts
  package-lock.json
  package.json
  src/app/(default)/404/page.tsx
  src/app/(default)/blog
  src/app/(default)/layout.tsx
  src/app/(default)/page.tsx
  src/app/(i18n)/[locale]/blog/[slug]/page.tsx
  src/app/(i18n)/[locale]/blog/page.tsx
  src/app/(i18n)/[locale]/layout.tsx
  src/app/(i18n)/[locale]/page.tsx
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/app/not-found.tsx
  src/i18n/request.ts
  src/mdx-components.tsx
Due: next-lint

style: reformat code
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .vscode/extensions.json
  .vscode/settings.json
  AGENTS.md
  content/main.mdx
  eslint.config.mjs
  next.config.ts
  prettier.config.mjs
  src/app/(default)/404/page.tsx
  src/app/(default)/layout.tsx
  src/app/(i18n)/[locale]/blog/[slug]/page.tsx
  src/app/(i18n)/[locale]/layout.tsx
  src/app/(i18n)/[locale]/page.tsx
  src/app/fonts.ts
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/app/not-found.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/mdx-components.tsx
  src/styles/globals.css
  src/styles/tailwind.css
  stylelint.config.mjs
Due: next-lint, stylelint

feat: add resume page
  src/app/(i18n)/[locale]/resume/page.tsx
Due: next-lint

feat: add header with theme and locale switcher
  .vscode/settings.json
  messages/en.json
  messages/ru.json
  package-lock.json
  package.json
  src/app/(i18n)/[locale]/layout.tsx
  src/components/header.tsx
  src/components/locale-switcher-select.tsx
  src/components/locale-switcher.tsx
  src/components/theme-switcher.tsx
  src/styles/globals.css
  src/styles/tailwind.css
Due: next-lint, stylelint

Path conditions:
  next-lint: any of: \.([cm]?[jt]s|[jt]sx)$
  stylelint: any of: \.(css|scss|sass)$
